*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
header{

    /* debug */
    background-color: #add8e7;   
}

/* header-contenitore */
.container-esterno{
    display: flex;
    padding: 10px;
}

.container-interno{
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.item-header{
    /* debug */
    background-color: #daa51c;
    padding: 5px;
    height: 30px;
    width: 50px;
    border: 1px dashed black;
}

/* logo section*/
#logo-section{
    width: 20%;
}

/* navigation section */
#nav-section{
    flex-grow: 1;
}

#link-navigazione{
    display: flex;
}

ul{
    list-style: none;
}

ul>li>a {
    text-decoration: none;
    color: black;
    padding: 0 5px;
}

/* login section */
#login-section{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}





