*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
header{
    /* debug */
    background-color: #add8e7; 
}

/* header */
.container-header{
    /* flex */
    display: flex;
    justify-content: center;

    padding: 10px;
    margin: 0 auto;
    width: 80%;
}

.item-header{
    padding: 5px;

    /* debug */
    background-color: #daa51c;
    border: 1px dashed black;
    height: 30px;
}

/* logo section*/
#logo-section{
    width: 20%;
}

/* navigation section */
#nav-section{
    flex-grow: 1;

}

/* login section */
#login-section{
    width: 20%;
}


/* main */
.container-main{
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* jumbo */
#section-jumbo{
    padding:20px top;
    
    /* debug */
    background-color: #00018b;
    border: 1px dashed black;
}

#jumbo{
    margin: 20px;
    width: 60%;

    /* debug */
    background-color: #ef82ed;
    height: 250px;
}

.grey{
    background-color: #d3d3d3;
}

.box {
    width: 80%;

    /* debug */
    height: 300px;
    border: 1px dashed black;
    
}

.image-box{
    width: 55%;

    /* debug */
    background-color: #1e90ff;
   
}

.text-box{
    width: 25%;

    /* debug */
    background-color: #ffc0ca;
}

.full-box{

    /* debug */
    background-color: #218b21;
}



/* successivamente cambiare classi colore con classi corrette da pagina */